*.obj
*.ncb 
*.idb
*.sbr 
*.plg 
*.pch 
*.bsc  
*.ilk 
*.exp
*.opt
*.aps
*.map
*.lib
*.exe
*.res
*.tw
*.tli
*.tlh
*.twi
*.db
*.ncb
*.plg
*.pch
*.sbr
*.bsc
*.ilk
*.odb
*.log
*.his
*.idx
*.scc
vc*.pdb
SM*.pdb
PT*.pdb

/samples/vss2gitc#/HashTest/bin/Debug/HashTest.pdb
/samples/vss2gitc#/HashTest/bin/Release/HashTest.pdb
/samples/vss2gitc#/HashTest/obj/Debug/HashTest.pdb
/samples/vss2gitc#/HashTest/obj/Release/HashTest.pdb
/samples/vss2gitc#/fix/Debug/Hpdi.HashLib.pdb
/samples/vss2gitc#/HashLib/bin/Debug/Hpdi.HashLib.pdb
/samples/vss2gitc#/HashLib/bin/Release/Hpdi.HashLib.pdb
/samples/vss2gitc#/HashLib/obj/Debug/Hpdi.HashLib.pdb
/samples/vss2gitc#/HashLib/obj/Release/Hpdi.HashLib.pdb
/samples/vss2gitc#/HashTest/bin/Debug/Hpdi.HashLib.pdb
/samples/vss2gitc#/HashTest/bin/Release/Hpdi.HashLib.pdb
/samples/vss2gitc#/Vss2Git/bin/Debug/Hpdi.HashLib.pdb
/samples/vss2gitc#/Vss2Git/bin/Release/Hpdi.HashLib.pdb
/samples/vss2gitc#/VssDump/bin/Debug/Hpdi.HashLib.pdb
/samples/vss2gitc#/VssDump/bin/Release/Hpdi.HashLib.pdb
/samples/vss2gitc#/VssLogicalLib/bin/Debug/Hpdi.HashLib.pdb
/samples/vss2gitc#/VssPhysicalLib/bin/Debug/Hpdi.HashLib.pdb
/samples/vss2gitc#/VssPhysicalLib/bin/Release/Hpdi.HashLib.pdb
/samples/vss2gitc#/fix/Debug/Hpdi.VssLogicalLib.pdb
/samples/vss2gitc#/Vss2Git/bin/Debug/Hpdi.VssLogicalLib.pdb
/samples/vss2gitc#/Vss2Git/bin/Release/Hpdi.VssLogicalLib.pdb
/samples/vss2gitc#/VssDump/bin/Debug/Hpdi.VssLogicalLib.pdb
/samples/vss2gitc#/VssDump/bin/Release/Hpdi.VssLogicalLib.pdb
/samples/vss2gitc#/VssLogicalLib/bin/Debug/Hpdi.VssLogicalLib.pdb
/samples/vss2gitc#/VssLogicalLib/obj/Debug/Hpdi.VssLogicalLib.pdb
/samples/vss2gitc#/VssLogicalLib/obj/Release/Hpdi.VssLogicalLib.pdb
/samples/vss2gitc#/fix/Debug/Hpdi.VssPhysicalLib.pdb
/samples/vss2gitc#/Vss2Git/bin/Debug/Hpdi.VssPhysicalLib.pdb
/samples/vss2gitc#/Vss2Git/bin/Release/Hpdi.VssPhysicalLib.pdb
/samples/vss2gitc#/VssDump/bin/Debug/Hpdi.VssPhysicalLib.pdb
/samples/vss2gitc#/VssDump/bin/Release/Hpdi.VssPhysicalLib.pdb
/samples/vss2gitc#/VssLogicalLib/bin/Debug/Hpdi.VssPhysicalLib.pdb
/samples/vss2gitc#/VssPhysicalLib/bin/Debug/Hpdi.VssPhysicalLib.pdb
/samples/vss2gitc#/VssPhysicalLib/bin/Release/Hpdi.VssPhysicalLib.pdb
/samples/vss2gitc#/VssPhysicalLib/obj/Debug/Hpdi.VssPhysicalLib.pdb
/samples/vss2gitc#/VssPhysicalLib/obj/Release/Hpdi.VssPhysicalLib.pdb
/samples/vss2gitc#/fix/Debug/Vss2Git.pdb
/samples/vss2gitc#/Vss2Git/bin/Debug/Vss2Git.pdb
/samples/vss2gitc#/Vss2Git/bin/Release/Vss2Git.pdb
/samples/vss2gitc#/Vss2Git/obj/Debug/Vss2Git.pdb
/samples/vss2gitc#/Vss2Git/obj/Release/Vss2Git.pdb
/samples/vss2gitc#/VssDump/bin/Debug/VssDump.pdb
/samples/vss2gitc#/VssDump/bin/Release/VssDump.pdb
/samples/vss2gitc#/VssDump/obj/Debug/VssDump.pdb
/samples/vss2gitc#/VssDump/obj/Release/VssDump.pdb