*.obj
*.ncb 
*.idb
*.sbr 
*.plg 
*.pch 
*.bsc  
*.ilk 
*.exp
*.opt
*.aps
*.map
*.lib
*.exe
*.res
*.tw
*.tli
*.tlh
*.twi
*.db
*.ncb
*.plg
*.pch
*.sbr
*.bsc
*.ilk
*.odb
*.log
*.his
*.idx
*.scc
vss*.pdb
vc*.pdb
/tmp