*.obj
*.ncb 
*.idb
*.sbr 
*.plg 
*.pch 
*.bsc  
*.ilk 
*.exp
*.opt
*.aps
*.map
*.lib
*.exe
*.dll
*.res
*.tw
*.tli
*.tlh
*.twi
*.db
*.ncb
*.plg
*.pch
*.sbr
*.bsc
*.ilk
*.odb
*.log
*.his
*.idx
*.scc

vss*.pdb
vc*.pdb

/tmp

!bin/vss2git*.exe
!bin/vss2svn*.exe
!bin/stlport*.dll
!bin/stlport*.pdb

